body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 250px;
    margin: 20px;
}

.logo-container {
    display: flex;
    justify-content: center;
}

hr {
    margin: 0;
    border: solid 1px #ffe6a9;
}

span {
    font-weight: bold;
}

.logo-description {
    background-color: #fdfbf1;
    color: #004949;
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: large;
}

main {
    width: 35%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.image-focaccia {
    width: 100%;
    border-radius: 3%;
}

.image-description {
    text-align: center;
    color: #979797;
}

.featured-container {
    border-left: solid 2px #ffe6a9;
    padding: 0% 5% 0% 5%;
}

.featured {
    color: #b4450d;
    margin-bottom: 0;
}

a {
    color: #0c7575;
}

.aqua {
    color: #c8f4f3;
}